<h1><%= @category.nil? ? 'Marcadores por categoria' : @category.title %></h1>
<table>
<thead>
  <th></th>
</thead>
<% @categories.each do |category| %>
<% if category.public? %>
  
<tr>
  <td><%= link_to category.title, category_path(category) %></td>
  <td><%= link_to 'Edit', edit_category_path(category)  %></td>
  <td><%= link_to 'X', category_path(category), :confirm => 'Are you sure?', :method => :delete  %></td>
</tr>
<% end %> 
<% end %>
</table>
<p>
  <%= link_to 'Back', @category.parent.nil? ? categories_path : category_path(@category.parent) unless @category.nil? %>
  <%= link_to 'New category', new_category_path(@category) %>
</p>
